.productInfo {
  display: inline;
}

.productInfo img {
  width: 100%;
  max-width: 600px;
}

.cardInfoPrice {
  position: relative;
  display: flex;
  float: right;
}

.salePrice {
  font-size: smaller;
}

.salePrice span {
  text-decoration: line-through;
  font-size: larger;
  color: #ccc;
}

.card {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.card a {
  text-decoration: none;
  color: unset;
}

.card h5, .card h6 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show in the exerpt */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show in the exerpt */
          line-clamp: 3; 
  -webkit-box-orient: vertical;
}

.card .buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}

.header {
  padding-top: 20px;
  padding-bottom: 75px;
}

.header h1 {
  display: inline;
  float: left;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header ul li {
  padding-top: 20px;
  float: right;
  display: inline;
  margin-left: 20px;
}

.footer {
  padding: 50px 0;
  background-color: #ccc;
}

.content {
  padding-bottom: 100px;
}