.background {
  background: url('../public/wave.svg') top center no-repeat;
  background-size: 100%;
  background-position-y: -60px;
}

.background-dark {
  background: url('../public/wave-dark.svg') top center no-repeat;
  background-size: 100%;
  background-position-y: -60px;
}

.container {
  min-height: calc(100vh - 335px);
}